:root {
  --bg-body-color: #fff;
  --bg-hero-color: #c4c4c4;
  --bg-team-color: #f5f4fa;
  --bg-footer-color: #2f303a;
  --bg-icon-color: #afb1b8;
  --bg-icon-footer-color: rgba(255, 255, 255, 0.1);
  --bg-btn-modal-color: #188ce8;
  --text-primary-color: #212121;
  --text-secondory-color: #757575;
  --text-logo-header-color: #000;
  --text-white-color: #fff;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --card-border: #eee;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  /* color: var(--text-primary-color); */
  /* background-color: var(--bg-body-color); */
  background-color: #2a2a2a;
}

/* not copy this a code  */
/* -start- */
div {
  margin-left: 50px;
  margin-bottom: 20px;
}

.filter {
  display: flex;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.box-close {
  position: relative;
  width: 400px;
  height: 150px;
  outline: 1px solid tomato;
}

/* -end- */

/* ------------ utils ---------- */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ------------ logo ---------- */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--text-logo-header-color);
}

.logo__text {
  color: var(--accent-color);
}

.logo--revers {
  color: var(--text-white-color);
}

/* ------------ social ---------- */
.social {
  display: inline-flex;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  fill: var(--bg-icon-color);

  border-radius: 50%;

  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.social__link:hover,
.social__link:focus {
  fill: var(--text-white-color);
  background-color: var(--accent-color);
}

/* for footer */
.social__link--invers {
  fill: var(--text-white-color);
  background: var(--bg-icon-footer-color);
}

.social__link--invers:hover,
.social__link--invers:focus {
  background-color: var(--accent-color);
}

/* ------------ button ---------- */
.button {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  white-space: nowrap;
  min-width: max-content;

  background-color: var(--accent-color);

  border: 0ch;
  border-radius: 4px;
  cursor: pointer;
}

/* add this class in portfolio to filter__button */
.button--invers {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  width: auto;
  height: auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-primary-color);

  background-color: var(--bg-team-color);

  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.button--invers:hover,
.button--invers:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--text-white-color);
  background-color: var(--accent-color);
}

/* hero */
.hero__button {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}

/* subscribe */
.subscribe__button {
  position: relative;
  margin-left: 12px;
  padding-left: 29px;

  text-align: left;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); */
}

.subscribe__icon {
  position: absolute;
  top: 50%;
  right: 28px;

  fill: currentColor;
  transform: translateY(-50%);

  /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); */
}

/* Модальное окно*/
/* button */
.modal__button {
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.modal__button:hover,
.modal__button:focus {
  background-color: var(--bg-btn-modal-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* close button */
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;

  color: var(--text-white-color);

  background-color: var(--bg-body-color);
  border: 1px solid var(--bg-icon-color);
  border-radius: 50%;

  cursor: pointer;

  transition: fill 250ms var(--timing-function);
}

.button-close__icon {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
}

.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
}

/* ------------ title ---------- */
.title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--text-primary-color);
  text-align: center;
}

.subtitle {
  margin: 0;
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
}

.join__subtitle,
.subscribe__subtitle {
  margin-top: 12px;
  margin-bottom: 20px;
  color: var(--text-white-color);
}

.hero__title {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--text-white-color);

  text-align: center;
  text-transform: uppercase;
}

/* ------------------------------ */
