.contact {
  display: flex;
  margin-left: auto;
}

.contact__item + .contact__item {
  margin-left: 50px;
}

.contact__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondory-color);
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}