.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/img.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: getColor(bg-hero);
}

// transfer to in title
.hero__title {
  @include itemTypography(900, 44px, 1.36, 0.06em, text-white);

  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  max-width: 696px;

  text-transform: uppercase;
}

// transfer to in buttle
.hero__button {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}
