%logo {
  @include itemTypography(700, 26px, 1.19, 0.03em, logo-main);
  font-family: getFont(logo), getFont(secondory);
}

.logo__text {
  color: getColor(accent);
}

.logo__main {
  @extend %logo;

  &--revers {
    @extend %logo;
    @include centeredFlex(inline-flex);
    margin-bottom: 20px;
    color: getColor(logo-revers);
  }
}
