@import '../utils/variables';
@import '../utils/mixin';

%logo {
  font-family: getFont(logo), getFont(secondory);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__text {
  color: getColor(accent);
}

.logo__main {
  @extend %logo;
  color: getColor(logo-main);

  &--revers {
    @extend %logo;
    @include centeredFlex(inline-flex);
    margin-bottom: 20px;
    color: getColor(logo-revers);
  }
}
