@import '../utils/list';
@import '../utils/mixin';

.nav {
  margin-left: 93px;
}

.nav__list {
  @extend %list;
  @include centeredFlex();
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: getColor(text-primary);
  text-decoration: none;

  @include itemTransition(color);

  &:hover,
  &:focus {
    color: getColor(accent);
  }

  &--current {
    color: getColor(accent);
  }

  &--current::after {
    position: absolute;
    bottom: 0;

    display: block;

    content: '';
    width: 100%;
    height: 4px;

    background-color: getColor(accent);
    border-radius: 2px;
  }
}
