@mixin centeredFlex($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin itemTransition($type) {
  transition: $type 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin itemTypography($weight, $size, $height, $spacing, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
  color: getColor($color);
  text-decoration: none;
}

// div1 {
//     @include centeredFlex(); //default flex
// }

// div2 {
//     @include centeredFlex(inline-flex);
// }

// transition: color 250ms var(--timing-function);
//
//     @include itemTransition(color);
